/* homepage start*/
body {
	position: relative;
	background: white;
}
header {
	padding: 50px 0px 0px 0;
    width: 100%;
    background-color: white;
    position: relative;
}
header .back{
	background-image: url(/images/header.png);
    background-size: contain;
    background-repeat: repeat-x;
    width: 100%;
    background-color: white;
    position: absolute;
    z-index: 10;
    pointer-events: none;
    height: 50px;
    top: 0;
}
header .dropdown{
	background: white;
	color: black;
    padding: 10px 30px;
}
header .dropdown li a,
header .dropdown li a:hover
{color: black; text-decoration: none !important;}
.container {
  max-width: 1100px; 
}
.logo{
	max-height: 100px;
}
header a:hover{
	text-decoration: none;
}
.min-height{
	min-height: 20px;
	display: block;
}
.logo-text, .logo-text:hover{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: black;
	text-decoration: none !important;
	margin-bottom: 0;
}
.logo-subtext, .logo-subtext:hover{
	text-decoration: none !important;
	display: inline;
	color: #89b399;
	font-size: 14px;
}
.logo-img-container{
	text-align: right;
}
.logo-txt-container{
	text-align: left;
}

.main .container{
	background: #ffffff;
    border: 2px solid #f4f4f4;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 60px;
    margin-bottom: 20px;
}
.sotial-icons {
	text-align: right;
	padding-top: 30px;
    padding-right: 5px;
}
.vk {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 0 10px 10px 0;
	background: url(/images/vk.png);
}
.vk:last-child {
	margin-right: 0;
}
.menu {
	text-align: center;
	margin-bottom: 0;
	padding-left: 0;
}
.menu li {
	display: inline-block;
	margin-left: 20px;
}
.menu a {
	text-transform: uppercase;
}
@media (max-width: 767px){
	.sotial-icons{
		text-align: center;
	}
}
.content {
	margin: 20px 0;
}
.content img {
	width:100%;
}
.main-article a{
	color: black;
	text-decoration: none;
}
.news-switch {
	margin-top: 20px;
}
.news-switch div{
	outline: 1px solid #89b399;
	width: 49.8%;
	display: inline-block;
	padding: 5px 10px;
	background-color: #f9f9f9;
	cursor: pointer;
	
}
.news-switch .active{
	background-color: #fff;
	color: #89b399;
	outline: 1px solid #89b399;
	font-weight: 700;
}

.sidenews {
	margin: 20px 0;
}
.side-description{
	margin-bottom: 5px;
}
.sidenews img {
	float: left;
	width: 60px;
	margin-right: 10px;
}
.article-author {
	color: black;
	margin: 0;
	font-size: 80%;
}
.author-theme-img{
	max-height: 200px;
}
.publish-date {
	font-size: 12px;
	color: #666666;
	margin-bottom: 5px;
	float: right;
}
.sidenews a,
.sidenews a:hover{
	text-decoration: none;
	color: black;
}
.side-title {
	font-weight: bold;
	font-size: 110%;
}
.sidenews p {
}
.view-statistic {
	font-size: 12px;
	color: #666666;
}
.sidenews .views {
	display: inline-block;
	background: url(/images/eye.png) no-repeat;
	padding-left: 23px;
	background-position: 0 2px;
}
.vk-share {
	display: inline-block;
	background: url(/images/vk.png) no-repeat;
	padding-left: 28px;
	background-position: 0 -2px;
	margin-right: 3px;
}
.vk-share:last-child {
	margin-right: 0;
}
footer {	
	padding: 30px 0px 30px 0;
	color: white;
	background: #4c4c4c;
}
footer .about-wrap {
	text-align: right; 
}
.about-link,
.about-link:hover {
	cursor: pointer;
	text-decoration: none;
	color: #fff; 	
}
/* homepage finish*/
/* article start*/
.author-info {
	margin: 20px 0;
}
.author-info img {
	width: 120px;
}
.article-author {
	color: black;
	margin: 0;
}
.article-data {
	color: #666666;
	margin-bottom: 15px;
}
.author-info p {
}
.view-statistic {
	font-size: 12px;
	color: #666666;
}
.views {
	display: inline-block;
	background: url(/images/eye.png) no-repeat;
	padding-left: 23px;
	background-position: 0 2px;
	margin: 15px 0;
}
.sotal-share {
	display: inline-block;
	margin: 15px 0;
}
.vk-share {
	display: inline-block;
	background: url(/images/vk.png) no-repeat;
	padding-left: 28px;
	background-position: 0 -2px;
	margin-right: 3px;
}
.vk-share:last-child {
	margin-right: 0;
}
.table-admin{}

.table-admin img{
	max-width: 300px;
	max-height: 300px;
}
/* article finish*/
/* about start*/
.developer-wrapper {
	margin: 20px 0;
}
.developer-wrapper div{
	padding-left: 250px;
}
.developer-wrapper h3{
	margin-top:-2px;
	font-size: 28px;
	margin-bottom: 20px;
}
.developer-wrapper img{
	float: left;
	max-width: 200px;
}
.developer-wrapper p{
	font-size: 16px;
}
.img-container{
	position: relative;
    height: 220px;
    overflow: hidden;
}
.img-container .img{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.content img.author-img{
	height: 50px;
	width:initial;
}
.theme-link a,
.theme-link a:hover{
	color: black;
	text-decoration: none;
}
@media (max-width: 480px) {
	.developer-wrapper div{
		padding-left: 0px;
	}
	.developer-wrapper img{
		float: none;
	}
	.developer-wrapper h3 {
	    margin-top: 15px;
	}
}
/* about finish*/
