/* homepage start*/
 div.modal-backdrop.in {
	display: none;
 }
@font-face {
    font-family: 'Gothic';
    src: url(/fonts/date.ttf) format("truetype");
}

@font-face {
    font-family: 'Roboto';
    src: url(/fonts/menu.ttf) format("truetype");
}

@font-face {
    font-family: 'arial';
    src: url(/fonts/arial.ttf) format("truetype");
}

@font-face {
    font-family: "Logo2";
    src: url(/fonts/10072.ttf) format("truetype");
}

@font-face {
    font-family: "Menu2";
    src: url(/fonts/menu.ttf) format("truetype");
}

@font-face {
    font-family: "Date";
    src: url(/fonts/date.ttf) format("truetype");
}

body {
	position: relative;
	background: white;
}
header {
	padding: 50px 0px 0px 0;
    width: 100%;
    background-color: white;
    position: relative;
}
header .back{
	background-image: url(/images/header1.png);
    background-size: contain;
    background-repeat: repeat-x;
    width: 100%;
    background-color: white;
    position: absolute;
    z-index: 10;
    pointer-events: none;
    height: 30px;
    top: 0;
}
header .dropdown{
	background: white;
	color: black;
    padding: 50px 30px 5px 30px;
}
header .dropdown li a,
header .dropdown li a:hover
{
	color: black; 
	text-decoration: none !important;
	font-family: "Menu2";
	letter-spacing: 0.15em;
}
.container {
  max-width: 1200px; 
  padding-top: 40px;
  position: relative;
  z-index: 11;
}
.logo{
	max-height: 100px;
}
header a:hover{
	text-decoration: none;
}
.header-soc-icons{
	position: absolute;
    top: -30px;
    right: -150px;
}
@media(max-width: 1450px){
	.header-soc-icons{
		right: 0;
	}
}
@media (max-width: 767px){
	.header-soc-icons{
		position: initial;
	}	
}
.min-height{
	min-height: 20px;
	display: block;
}
.logo-text, .logo-text:hover{
	font-family: "Logo2";
	color: black;
	text-decoration: none !important;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	font-size: 60px;
	margin-bottom: 5px;
}
.logo-subtext, .logo-subtext:hover{
	text-decoration: none !important;
	display: inline;
	color: #296d1f;
	font-size: 13px;
	text-transform: uppercase;
	font-family: "Menu2";
	letter-spacing: 0.25em;
	font-weight: 500;
}
.logo-img-container{
	text-align: right;
}
.logo-txt-container{
	text-align: center;
}
.main .container{
	background: #ffffff;
    padding-top: 55px;
}
.articles-list{
	padding-right: 30px;
	margin-top: -20px;
}
.sidebar{
	padding-top: 33px;
}
.theme-list .articles-list{
	padding-right: 0;
}
.sotial-icons {
	text-align: center;
    padding-right: 5px;
}
.share-txt{
	font-family: "Date";
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
}
.soc-icon {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 0 10px -5px 10px;	
	background-size: contain;
	background-position-x: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.soc-icon.vk{
	background-image: url(/images/vk.png);
}
.soc-icon.fb{
	background-image: url(/images/fb.svg);
}
.soc-icon.tg{
	background-image: url(/images/tg.svg);
}
.soc-icon.tw{
	background-image: url(/images/tw.png);
}
.menu {
	text-align: center;
	margin-bottom: 0;
	padding-left: 0;
}
.menu li {
	display: inline-block;
	margin-left: 60px;
	margin-right: 60px;
	font-weight: 600;
}
.menu li:first-child { 
	margin-left: 0px;
}
.menu li:last-child { 
	margin-right: 0px;
}
.menu a {
	text-transform: uppercase;
}

.content {
	margin: 20px 0;
}
.content img {
	width:100%;
}
.art-title{
	text-align: center;
	font-family: "Menu2";
	margin-bottom: 30px;
}
.art-theme{
	text-align: center;
	font-family: "Menu2";
	text-transform: uppercase;
	font-size: 20px;
}
.art-theme .back{
	background: white;
	padding-right: 20px;
	padding-left: 20px;
	display: inline;
}
.author-name{
	font-family: "Date";
	display: inline;
	float: left;
	margin-top: 0px;
}
.author-details{
	font-family: "Date";
	display: inline;
	float: left;
	font-size: 15px;
	color: darkgray;
	margin-top: 30px;
	position: absolute;
    left: 120px;
    line-height: 1.5;
}
.author-info .author-details a,
.author-info .author-details a:hover,
.art-theme .author-details a,
.art-theme .author-details a:hover{
	text-decoration: underline;
	color: darkgreen;
}
.original-url{
    display: block;
    font-family: Date;
    font-size: 18px;
}
.art-date{
	font-family: "Date";
	color:#296d1f;
	font-weight: bold;
	display: inline-block;
}
.art-description{
	font-family: "Date";
	color: #5d5d5d;
    font-size: 16px;
    clear: both;
    padding-top: 20px;
}
.author-info a,
.author-info a:hover,
.art-theme a,
.art-theme a:hover{
	text-decoration: none;
	color: black;
}
.author-info{
	overflow: hidden;
	position: relative;
}
.article-body{
	padding-right: 30px;
}
.article-body .author-info{
	padding-right: 30px;
    padding-bottom: 35px;
}
.content .author-img{
	height: 80px;
	width: 80px;
	border-radius: 80px;
	margin-right: 40px;
	display: inline-block;
	float: left;
}
.content .author-img img{
	max-height: 80px;
	width: initial;
}
.main-body{
	font-size: 18px;
}
.main-article{
	margin-bottom: 30px;
}
.main-article:first-child {
    padding-top: 20px;
}
.main-article a{
	color: black;
	text-decoration: none;
}
.separator{
	width: 100%;
	margin-top: -22px;
	margin-bottom: 20px;
	height: 2px;
	background: #53a747;
    border: none;
}
.news-switch {
	margin-top: 20px;
}
.news-switch .switch{
	outline: 1px solid #e4e4e4;
	width: 100%;
	text-align: center;
	display: inline-block;
	padding: 8px 10px;
	cursor: pointer;
	text-transform: uppercase;
	font-family: "Menu2";
	font-size:17px;
	letter-spacing: 0.13em;
}	

.sidenews {
	margin: 40px 0;
}
.side-description{
	margin-bottom: 5px;
	font-family: "Date";
	font-size: 14px;
	line-height: 1.45;
	color: #5d5d5d;
}

.rel-pic {
	overflow: hidden;
	position: relative;
}
.rel-pic img{
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.sidenews .rel-pic {
	height: 120px;
    width: 100%;
	margin-right: 20px;
	margin-bottom: 10px;
}
.sidenews .rel-pic img{
	width: 100%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.article-author {
	color: black;
	margin: 0;
	font-size: 80%;
	font-family: "Date";
	font-size: 14px;
}
.author-theme-img{
	float: left;
	height: 200px;
    width: 200px;
	margin-right: 60px;
	border-radius: 200px;
	overflow: hidden;
	position: relative;
}
.theme-title{
	font-family: "Menu2";
	margin-bottom: 30px;
}
.theme-title.theme{
	font-size: 37px;
	text-align: center;
}
.theme-title.theme div{
	display: inline;
	padding-left: 40px;
	padding-right: 40px;
	background: white;
}
.theme-separator{
	width: 100%;
	margin-top: -51px;
	margin-bottom: 20px;
	height: 3px;
	background: #9ece97;
    border: none;
}
.theme-description{
	font-family: "Date";
}
.author-theme-img img{
	max-height: 200px;
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.publish-date {
	font-size: 12px;
	color: #666666;
	margin-bottom: 5px;
	float: right;
	color:  #296d1f;
	font-family: "Date";
	font-weight: bold;
}
.sidenews a,
.sidenews a:hover{
	text-decoration: none;
	color: black;
}
.side-title {
	font-weight: bold;
	font-size: 20px;
	color:  #296d1f;
	font-family: "Menu2";
	text-transform: uppercase;
	margin-bottom: 0;
}
.sidenews p {
}
.view-statistic {
	font-size: 12px;
	color: #666666;
}
.vk-share {
	display: inline-block;
	background: url(/images/vk.png) no-repeat;
	padding-left: 28px;
	background-position: 0 -2px;
	margin-right: 3px;
}
.vk-share:last-child {
	margin-right: 0;
}
footer {	
	padding: 30px 0px 30px 0;
	color: white;
	background: #4c4c4c;
	font-family: "Logo2";
	font-size: 18px;
	font-weight: bold;
}
 /* pagination */
 .pagination li {
 	font-size: 15px;
 }
.pagination .active {
	font-weight: bold;
}
footer .about-wrap {
	text-align: right; 
}
footer .container{
	padding-top: 0;
}
footer .sotial-icons{
	filter: invert(100%);
}
.about-link,
.about-link:hover {
	cursor: pointer;
	text-decoration: none;
	color: #fff; 	
}
.main-about{
	font-family: "Date";
	font-size: 20px;
	padding-bottom: 50px;
}
.developer-wrapper .rel-pic{
	width: 200px;
	height: 200px;
	border-radius: 200px;
	float: left;
	margin-right: 50px;
	margin-bottom: 30px;
}
.developer-wrapper .rel-pic img{
	max-height: 200px;
}
.developer-wrapper .dev-name{
	font-family: "Menu2";
	font-size:25px;
}
/* homepage finish*/
/* article start*/
.author-info {
	padding: 20px 0;
	border-bottom: 1px solid #e0e0e0;
}
.author-info img {
	
}
.article-author {
	color: black;
	padding-bottom : 10px;
    margin-top: 10px;
	border-bottom: 1px solid #e0e0e0;
}
.article-data {
	color: #666666;
	margin-bottom: 15px;
}
.author-info p {
}

.view-statistic {
	font-size: 12px;
	color: #666666;
}
.views {
	display: inline-block;
    background-image: url(/images/eye.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 40px;
    padding-top: 5px;
    font-family: "Date";
    font-size: 16px;
    font-weight: bold;
    color: black;
    height: 31px;
}
.sotal-share {
	display: inline-block;
	margin: 15px 0;
}
.vk-share {
	display: inline-block;
	background: url(/images/vk.png) no-repeat;
	padding-left: 28px;
	background-position: 0 -2px;
	margin-right: 3px;
}
.vk-share:last-child {
	margin-right: 0;
}
.table-admin{}

.table-admin img{
	max-width: 300px;
	max-height: 300px;
}
/* article finish*/
/* about start*/
.developer-wrapper {
	margin: 50px 0;
}
.developer-wrapper h3{
	margin-top:-2px;
	font-size: 28px;
	margin-bottom: 20px;
}
.developer-wrapper p{
	font-size: 16px;
	font-family: Date;
}
.img-container{
	position: relative;
    height: 330px;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 20px;
}
.img-container .img{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.pagination-container{
	width: 100%;
	text-align: center;
}

.pagination-container .pagination > li > a, 
.pagination-container .pagination > li > span{
	border:none;
	color: black;
	font-family: "Date";
	font-size: 18px;
    margin-left: 7px;
    margin-right: 7px;
	
}
.pagination-container .pagination > .active > a, 
.pagination-container .pagination > .active > span, 
.pagination-container .pagination > .active > a:hover, 
.pagination-container .pagination > .active > span:hover, 
.pagination-container .pagination > .active > a:focus, 
.pagination-container .pagination > .active > span:focus{
	font-weight: bold;
	background-color: white;
	color: #296d1f;
    font-size: 24px;
    padding-top: 0px;
}

.pagination-container .pagination > li > span:hover, 
.pagination-container .pagination > li > span:focus,
.pagination-container .pagination > li > a:hover, 
.pagination-container .pagination > li > a:focus{
	background-color: white;	
}

.pagination-container .pagination .first-page a,
.pagination-container .pagination .prev-page a,
.pagination-container .pagination .next-page a,
.pagination-container .pagination .last-page a{
	font-size: 0;
	height: 37px;
	width: 35px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	
}

.pagination-container .pagination .first-page a{
	background-image: url(/images/last.png);
	transform: scaleX(-1);
}
.pagination-container .pagination .prev-page a{
	background-image: url(/images/next.png);
	transform: scaleX(-1);
}
.pagination-container .pagination .next-page a{
	background-image: url(/images/next.png);
}
.pagination-container .pagination .last-page a{
	background-image: url(/images/last.png);
}

.theme-link a,
.theme-link a:hover{
	color: black;
	text-decoration: none;
}
@media (max-width: 480px) {
	.developer-wrapper div{
		padding-left: 0px;
		width: 100%;
		display: block;
		clear: both;
		text-align: center;
	}
	div.developer-wrapper .rel-pic{
		margin: auto;
		float: none;
	}
	.developer-wrapper img{
		float: none;
	}
	.developer-wrapper h3 {
	    margin-top: 15px;
	}
}
/* about finish*/
@media (max-width: 1200px){

	.content .author-img {
	    margin-right: 20px;
	}
	.author-details{
		left: 100px;
	}
	/* изменение первонач варианта НАЧАЛО */
	.img-container {
	    height: auto;
	}
	.img-container .img {
	    position: static;
	    transform: inherit;
	    max-height: 330px;
	} /* изменение первонач варианта КОНЕЦ */
}

@media (max-width: 992px){

}
@media (max-width: 992px) and (min-width: 768px){
	.author-info { /* */ 
	    clear: both;
	    padding-bottom: 60px;
	}
	.main-article { 
    	padding-top: 25px;
	}
	.content .author-img { 
    	float: left;
	}
	.author-name { 
    	display: block;
	    margin-top: 5px;
	}
	.author-info .art-date {  /* */
		position: absolute;
	    left: 0;
	    top: 120px;
	    margin-top: 0;
	}
	#relates {
		padding-left: 0; 
	}
	.sidenews .rel-pic {
	    height: 105px;
	    width: 105px;
	    margin-right: 10px;
	    margin-bottom: 10px;
	    border-radius: 53px;
	}
	.sidenews .rel-pic img {
	    max-height: 105px;
	}
}
@media (min-width: 768px){ 
	content:last-child {
    	margin-bottom: 0px;
	}
}
@media (max-width: 767px){
	header .container {
	    padding-top: 20px;
	}
	.main .container{
	    padding-top: 0px;
	}
	.sotial-icons{
		text-align: center;
		float: left !important;
    	width: 100%;
	}
	.soc-icon {
	    width: 14%;
	    margin-top: 20px;
	    height: 25px;
	}
	header .dropdown {
	    background: white;
	    color: black;
	    padding: 30px 30px 5px 30px;
	}

	.menu li {
    	margin-right: 30px;
    	margin-left: 30px;
	}
	.main-article:first-child {
	    padding-top: 0px;
	}
	.articles-list {
	    padding-right: 0px;
	}
	h2 {
    	margin-top: 15px;
	}
	.img-container {
	    height: auto;
	}
	.sidebar {
	    padding-top: 0px;
	}
	.copyright {
		text-align: center;
	}
	footer .sotial-icons{
		margin-top: -20px; 
    	margin-bottom: -10px; 
    	padding-right: 0px; 
	}
	footer .about-wrap {
    	text-align: center;
	}
}
@media (max-width: 620px){
	header .container {
	    padding-top: 10px;
	}
	.logo {
	    max-height: 80px;
	    margin-left: 15px;
	}
	.logo-text, .logo-text:hover {
	    letter-spacing: 0.07em;
	    font-size: 45px;
	    margin-top: 16px;
	   
	}
	/*.soc-icon {
	    width: 14%;
	    margin-top: 20px;
	    height: 35px;
	}*/
	.menu li {
		font-size: 16px;
	    margin-right: 0px;
	    display: block;
	    margin-left: 0px;
	}
	.menu li:first-child {
	    margin-left: 30px;
	}
	.menu li:last-child {
	    margin-right: 30px;
	}
	.menu li a{
		font-size: 17px;
	}
	.author-info {
	    clear: both;
	    margin: 0px 0 0px 0;
	    padding-bottom: 60px;
	}
	.main-article {
    	padding-top: 0px;
	}
	.content .author-img {
    	float: left;
	}
	.author-name { 
    	display: block;
	    margin-top: 5px;
	}
	.author-info .art-date {
		position: absolute;
	    left: 0;
	    top: 120px;
	}
	.menu li {
    	margin-right: 30px;
    	margin-left: 30px;
	}
	.art-description {
	    padding-bottom: 10px;
	}
	.sidenews {
	    margin: 30px 0;
	}
	.copyright {
		font-size: 16px;
	}
	footer .sotial-icons {
	    margin-top: -20px;
	}
}
@media (max-width: 500px) {
	.logo {
	    margin-left: 0;
	}
	footer .about-wrap {
	    font-size: 16px;
	}
}
@media (max-width: 400px) {
	header {
	    padding: 20px 0px 0px 0;
	}
	.logo {
		margin-top: 15px;
		max-height: 60px;
	}
	.copyright {
	    text-align: center;
	    width: 100%;
	    font-size: 18px;
	    margin-top: -10px;
	}
	footer .sotial-icons {
	    margin-top: -0px;
	}
	.sotial-wrap {
		width: 100%;
	}
	footer .about-wrap {
	    font-size: 18px;
	    width: 100%;
	    margin-top: 20px;
	}
}
