<div class="clearfix developer-wrapper">
	<img src="/images/andrei.jpg" alt="developer photo"/> 
	<div>
		<h3>Marchenko Andrei</h3> 
		<p>Senior .NET, javaScript developer</p>
		<p>I like complicated puzzles at work. I am always trying to learn something new and to do things, that I have never did before.</p>
	</div>
</div>
<div class="clearfix developer-wrapper">
	<img src="/images/yanis.jpg" alt="developer photo"/>
	<div>
		<h3>Machkin Yanis</h3> 
		<p>html/css/js developer</p>
	</div>	
</div>           