<div class="row">
			<div class="col-lg-9 col-sm-8">
				<div class="row content">
					<h1>Почему в современной культуре и искусстве стало так популярно уродливое и аморальное, и установилось презрение к норме?</h1>

					<p class="article-data">Опубликовано: 17.05 12:15</p>
					<div class="author-info">
						<p class="article-author"><strong><i>Глеб Симонов:</i></strong></p>
						<img src="/images/gleb.jpg" alt="/">
					</div> 

					<p>Норма. Давайте поговорим о норме.

					<p>Одна из вещей, которые особенно бросаются в глаза при чтении "Беовульфа" — это то, что людоеда Гренделя и его мать называют "каиновым родом". Эта сугубо христианская отсылка, довольно неожиданная для варварской поэмы девятого века, предполагает одну очень специфическую трактовку: внутри человеческого мира всё может иметь сколько угодно собственных вариаций — там есть сильные и слабые, храбрые и трусливые, доброжелатели и ненавистники, справедливые правители и полные ничтожества — но всё это в сумме, в принципе, довольно неплохо. Это наше. Тогда как зло — оно изначально иноприродно. Оно зло потому что оно зло, и всё. Оно таким родилось, и договориться с ним невозможно. Относительно этого зла, самый последний из данов — даже трус, предатель и конокрад — будет всё-таки нормой.

					<p>Больше тысячи лет спустя после написания "Беовульфа", эта схема — иноприродности зла и его контраста с нормой во всех её сияющих вариациях — вновь обрела свой новый канон после определённых исторических событий и с лёгкой руки одного великобританского лингвиста. Подразумеваются тут, конечно, Вторая Мировая Война и Джон Рональд Руэл Толкиен (который писал сами знаете что на основании именно "Беовульфа"). Так вот, толкиеновские орки, тролли, гоблины, гигантские пауки и балроги — это тоже каиново племя, берущее свой род известно откуда, и у них нет двух вариантов, какими им быть. Относительно этого — так ли уж важно, что у людей, хоббитов, эльфов и гномов есть определенные различия в культурных кодах?

					<p>К чему я об этом. Понятие о норме возникает в искусстве только в противопоставлении её чему-то ещё, и это что-то ещё должно быть по своей природе однозначно и неизменно — свойства, которыми вещи внутри нормы, к примеру, не обладают. Иными словами, даже в самой вертикальной иерархии, это всё равно конфликт гибкого и многообразного против абсолютно враждебного. И именно поэтому тема нормы стала прерогативой почти исключительно жанрового искусства: романов-ужасов, фантастики, фентези и т.д. Потому что орков можно противопоставить хранителям кольца, а Гренделя можно проивопоставить гётам — но как бы выглядел "Беовульф", если бы там не было Гренделя?

					<p>Двадцатый век не лишил нас понятия нормы, он просто перевёл фокус с формальностей на природность. Каждое движение живописи, которое не желало продолжать какие-то прежние традиции — основывало собственные, давало новые островки стабильности, новые нормы. То, что когда-то вызывало скандал, сейчас выглядит для нас совершенно невинным — не потому, что мы стали аморальны, а потому что с культуры, несмотря на все локальные конфликты, все разочарования нового времени, и весь достаточно чудовищный опыт прошлых веков — постепенно сходят лишние путы, чтобы вместо вымышленных, временных и неадекватных представлений об отклонениях и нормах, вперёд выходила одна очень простая вещь. 

					<p>Разделение между отклонением и нормой — проходит не между абстрактной живописью и реалистической живописью, не между сексуальной революцией и пуританством, не между Сорокиным и Толстым.

					<p>Разделение проходит между Гренделем и всем остальным.

					<p>Грендель не пишет скандальных книг — он сжигает все остальные. Он не возносит хулу на пророка — он взрывает аккадские храмы. Грендель — это не короткая юбка, это человек, осуждающий жертву вместо насильника. И наконец, Грендель — это не смешанные браки. Это детские газовые камеры.

					<p>А знаете, что объединяет все эти примеры? Стремление к упрощению. Непринятие вариантов. Отрицание возможности диалога. Попытка переделать всё остальное каким-то одним способом. Абсолютизация признаков, которые люди не выбирают — цвета, пола, происхождения. Потому что каиново племя — это то, что не способно меняться, учиться, воспринимать разные точки зрения, усваивать какой-либо новый опыт — потому что восприятия без изменения не существует. 

					<p>А современное искусство и современная культура — именно на усвоении нового и стоят. Поэтому они и называются современными.

					<p>Это и есть норма. Просто она сложнее.
					<div class="view-statistic clearfix">
						<div class="views">25</div>
						<div class="sotal-share pull-right">
							<div class="vk-share">25</div>
							<div class="vk-share">25</div>
							<div class="vk-share">25</div>
							<div class="vk-share">25</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-4">
				<%- include sidebar.ejs %>		
			</div>
		</div>
