<div class="row">
	<div class="col-lg-9 col-sm-8">
		<div class="row content">
			<h1>Как отыскать проблему в картине, в которой, на первый взгляд, ее нет? Бывают ли картины без проблемы?</h1>
			<p>Давайте представим всех этих мишек в сосновом бору в немного другую эпоху.

			<p>На сто лет раньше они вызвали бы скандал. Природа в понимании неоклассицизма считается низшим жанром, предпоследним в официальной искусствоведческой иерархии (ниже только натюрморт, но это чтобы подорвать нидерландский экспорт). Природа — это не более чем задний план, декорация для исторической картины или античного сюжета, за пределами которых изображение природы в принципе бессмысленно. А писать двухметровый холст с какими-то беспорядочными пнями, тесными, грубо написанными деревьями, и чёрными лесными животными по самому центру холста — извините, но это и безвкусно, и безобразно, и обливает презрением все принятые нормы, см. газетные отзывы о Курбе полвека спустя.

			<p>А на сто лет позже их бы попросту засмеяли — как анахронизм, наивняк и пошлость, и какие к чёрту мишки после Освенцима.

			<p>В такой призме вопрос напрашивается сам собой: если нечто настолько банальное, как мишки в сосновом бору, появилось именно в тот единственный, узкий и краткий момент истории, когда эти мишки в принципе смогли бы сработать, то что именно сделало их возможными?

			<p>Одной из центральных особенностей западной культуры является её постоянная неудержимая культивация перемен. Никто не хочет просто обложиться античными статуями или византийской мозаикой и втыкать на них до тепловой смерти вселенной — нет, нужны новые контексты и новые открытия, а всё остальное уже прошедшее запирается нами в отдельные здания, куда можно зайти обозреть всё, что до. Не случайно музеи придумали именно в античной Греции, и не случайно они были сопряжены с храмами — предметы искусства это предметы культа, поскольку им приходится служить носителями наших исторических шрамов.

			<p>Именно это нужно искать на картине — где она перешла дорогу прошедшему и вместо него двинулась дальше. Что такого случилось на свете, что лабать дальше портики и выбор Париса уже не работало, а работало двинуть в дичь на остров с музыкальным названием Городомля, чтобы вернуться оттуда в столицу писать медведей. И как это эти медведи стали частью вот именно того самого, что все тогда так искали. И как подмяли под себя "Последний день Помпеи" Брюллова или "Явление Христа народу" Иванова. Вот эти безобидные мишки.

			<p>И точно также они потом стали тем, что было оставлено и отвергнуто, что перестало работать и было перенесено в крытое помещение с сухим воздухом при низкой температуре — потому что пришли импрессионисты и постимпрессионисты и кубисты и абстракционисты, и сравняли всех этих мишек с землёй. Не из культурной экспансии — но когда мир начинает состоять из кирпичных заводов, медведи уже не тянут.

			<p>Это контекст исторический. Помимо него ещё будет авторский, культурный, религиозный, и ещё два десятка, не исключая и главного — контекста живописи самой по себе, поскольку картины всегда отталкиваются в первую очередь от других картин. 

			<p>Это ли не проблема сама по себе? Нужны ли картине ещё дополнительные проблемы?

			<p>Можно, конечно же, возразить, что контекстом всё это не ограничивается и ограничиваться не может. Я первый со всем этим соглашусь — мишки прекрасны и без истории. Но в рамках вопроса проблемности (ограничимся этими рамками), изымая картину из всех её пересекающихся контекстов, мы утрачиваем и шкалу, по которой об этой проблемности в принципе можно судить — что в одну сторону, что в другую. Остаётся только холст, и попытка зрителя повесить его у себя где-то в ментальном вакууме, и отложенная возможность что-либо о нём сказать.

			<p>Это и есть то единственное состояние, в котором работа становится беспроблемной — когда проблемность исключается из числа переменных, а картина изымается из своих перемен.
		</div>
	</div>
	<div class="col-lg-3 col-sm-4">
		<%- include sidebar.ejs %>		
	</div>
</div>