
		<div class="row">
			<div class="col-lg-8 col-sm-6">
				<div class="row content">
					<div class="col-lg-6">
						<img src="/images/port-img1.jpg" alt="/">
						<h4>About your product</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facilis fuga, illo at. Natus eos, eligendi illum rerum omnis porro ex, magni, explicabo veniam incidunt in quam sapiente ut ipsum.</p>
					</div>
					<div class="col-lg-6">
						<img src="/images/port-img1.jpg" alt="/">
						<h4>About your product</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facilis fuga, illo at. Natus eos, eligendi illum rerum omnis porro ex, magni, explicabo veniam incidunt in quam sapiente ut ipsum.</p>
					</div>
					<div class="col-lg-6">
						<img src="/images/port-img1.jpg" alt="/">
						<h4>About your product</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facilis fuga, illo at. Natus eos, eligendi illum rerum omnis porro ex, magni, explicabo veniam incidunt in quam sapiente ut ipsum.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="sidebar">
					<div class="news-switch clearfix">
						<div class="popular-news">Популярное</div>
						<div class="active daily-news pull-right">Новости</div>
					</div>
					<div class="sidenews clearfix">
            <a href="/article">
  						<img src="/images/gleb.jpg" alt="/">
  						<p class="article-author"><strong><i>Александр Шульц:</i></strong></p>
  						<p class="publish-data">17.05 12:15</p>
  						<p class = "new-title">Почему в современной культуре и искусстве стало так популярно уродливое и аморальное, и установилось презрение к норме?</p>
            </a>
					</div>
					<div class="sidenews clearfix">
            <a href="/article-2">
						  <img src="/images/maks.png" alt="/">
						  <p>Какое историческое событие надо исправить, чтобы нас настигло светлое будущее?</p>
            </a>
					</div>
					<div class="sidenews clearfix">
            <a href="/article-3">
						  <img src="/images/gleb.jpg" alt="/">
						  <p>Как отыскать проблему в картине, в которой, на первый взгляд, ее нет? Бывают ли картины без проблемы?</p>
            </a>
					</div>
				</div>
			</div>
		</div>
