
		<div class="row">
			<div class="col-lg-8 col-sm-6">
				<div class="row content">
					<div class="col-lg-6">
						<img src="/images/port-img1.jpg" alt="/">
						<h4>About your product</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facilis fuga, illo at. Natus eos, eligendi illum rerum omnis porro ex, magni, explicabo veniam incidunt in quam sapiente ut ipsum.</p>
					</div>
					<div class="col-lg-6">
						<img src="/images/port-img1.jpg" alt="/">
						<h4>About your product</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facilis fuga, illo at. Natus eos, eligendi illum rerum omnis porro ex, magni, explicabo veniam incidunt in quam sapiente ut ipsum.</p>
					</div>
					<div class="col-lg-6">
						<img src="/images/port-img1.jpg" alt="/">
						<h4>About your product</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facilis fuga, illo at. Natus eos, eligendi illum rerum omnis porro ex, magni, explicabo veniam incidunt in quam sapiente ut ipsum.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="sidebar">
					<div class="sidenews clearfix">
						<img src="/images/port-img1.jpg" alt="/">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facilis fuga, illo at.</p>
					</div>
					<div class="sidenews clearfix">
						<img src="/images/port-img1.jpg" alt="/">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facilis fuga, illo at.</p>
					</div>
					<div class="sidenews clearfix">
						<img src="/images/port-img1.jpg" alt="/">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facilis fuga, illo at.</p>
					</div>
				</div>
			</div>
		</div>
