<header>
	<div class="container clearfix">
		<div class="row">
			<div class="col-xs-4">
				<img src="/images/logo.png" alt="logo"> 
	    	</div>
    		<div class="col-xs-8">
    			<div class="sotial-icons">
    				<a class="vk" href="#"></a>
    				<a class="vk" href="#"></a>
    				<a class="vk" href="#"></a>
    				<a class="vk" href="#"></a>
    			</div>
    			<div class="dropdown">
	    		<ul class="menu">
	    			<li><a href = "#">home</a></li>
	    			<li><a href = "#">menu</a></li>
	    			<li><a href = "#">pages</a></li>
	    			<li><a href = "#">contacts</a></li>
	    		</ul>
	    		</div>
	    	</div>
	    	
    	</div>
    </div>
</header>
<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-sm-6">
				<div class="row content">
					<div class="col-lg-6">
						<img src="/images/port-img1.jpg" alt="/">
						<h4>About your product</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facilis fuga, illo at. Natus eos, eligendi illum rerum omnis porro ex, magni, explicabo veniam incidunt in quam sapiente ut ipsum.</p>
					</div>
					<div class="col-lg-6">
						<img src="/images/port-img1.jpg" alt="/">
						<h4>About your product</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facilis fuga, illo at. Natus eos, eligendi illum rerum omnis porro ex, magni, explicabo veniam incidunt in quam sapiente ut ipsum.</p>
					</div>
					<div class="col-lg-6">
						<img src="/images/port-img1.jpg" alt="/">
						<h4>About your product</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facilis fuga, illo at. Natus eos, eligendi illum rerum omnis porro ex, magni, explicabo veniam incidunt in quam sapiente ut ipsum.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="sidebar">
					<div class="sidenews clearfix">
						<img src="/images/port-img1.jpg" alt="/">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facilis fuga, illo at.</p>
					</div>
					<div class="sidenews clearfix">
						<img src="/images/port-img1.jpg" alt="/">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facilis fuga, illo at.</p>
					</div>
					<div class="sidenews clearfix">
						<img src="/images/port-img1.jpg" alt="/">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facilis fuga, illo at.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				&copy;Tonki&#38;Tonki production
			</div>
			<div class="col-lg-3">
				
			</div>
		</div>
	</div>
<footer>