<div class="sidebar">
					<div class="news-switch clearfix">
						<div class="popular-news">Популярное</div>
						<div class="active daily-news pull-right">Новости</div>
					</div>
					<div class="sidenews clearfix">
            <a href="/article">
              <img src="/images/gleb.jpg" alt="/">
              <p class="side-title">Уродство в культуре</p>
              <p class="side-description">Почему в современной культуре и искусстве стало так популярно уродливое и аморальное, и установилось презрение к норме?</p>
  						<p class="article-author"><i>Глеб Симонов</i><span class="publish-date">17.05 12:15</span></p>
              
            </a>
					</div>
					<div class="sidenews clearfix">
            <a href="/article-2">
						  <img src="/images/maks.png" alt="/">
              <p class="side-title">Машина времени</p>
              <p class="side-description">Какое историческое событие надо исправить, чтобы нас настигло светлое будущее?</p>
              <p class="article-author"><i>Макс Фрай</i><span class="publish-date">15.05 22:31</span></p>
            </a>
					</div>
					<div class="sidenews clearfix">
            <a href="/article-3">
						  <img src="/images/gleb.jpg" alt="/">
              <p class="side-title">Поиск проблем</p>
              <p class="side-description">Как отыскать проблему в картине, в которой, на первый взгляд, ее нет? Бывают ли картины без проблемы?</p>
              <p class="article-author"><i>Глеб Симонов</i><span class="publish-date">12.05 14:42</span></p>
            </a>
					</div>
				</div>